[submodule "_articles"]
	path = _articles
	url = https://github.com/CHTC/Articles.git
[submodule "staff-list"]
	path = staff-list
	url = https://github.com/CHTC/staff-list.git
[submodule "_events_external"]
	path = _events_external
	url = https://github.com/CHTC/events
