---
title: 'NSF State and Regional AI Infrastructure Hubs Proposers: The PATh team is ready and eager to help'
layout: main
permalink: /ai-hubs.html
description: The PATh team is ready to support proposers to the NSF State and Regional AI Infrastructure Hubs solicitation (NSF 26-513) with guidance and letters of support.
---

<img src="/images/nairr.jpg" alt="PATh support for NSF AI Infrastructure Hubs proposers" style="width: 100%; height: auto; display: block; max-height: 200px; object-fit: cover">

<div class="container-lg pb-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-9 col-xxl-8">
            {% include layout/subpage-header.html %}
            <p class="fs-5">
                The National Science Foundation <a href="https://www.nsf.gov/funding/opportunities/us-national-science-foundation-state-regional-artificial/nsf26-513/solicitation">AI Infrastructure Hubs Solicitation (NSF 26-513)</a>
                offers Hubs to &ldquo;leverage cyberinfrastructure investments&rdquo; and integrate with national NSF funded
                resources through <a href="https://path-cc.io/">PATh</a>. Please do not hesitate (or wait too long) to contact
                us at <a href="mailto:ai-hub-proposals@path-cc.io">ai-hub-proposals@path-cc.io</a> with questions or requests
                for letters of support regarding your AI Hub proposed project.
            </p>
            <p class="fs-5">
                The PATh team has experience offering guidance to projects during the proposal phase and for offering
                software tools and services during the operation phase.
            </p>

            <div class="alert alert-dark d-flex flex-column mt-4">
                <h5 class="mx-auto text-center">Questions or a request for a letter of support?</h5>
                <a class="btn btn-secondary mx-auto d-block mt-3" href="mailto:ai-hub-proposals@path-cc.io">Contact the PATh Team</a>
            </div>
        </div>
        <div class="col-3 col-xxl-2 d-none d-md-block">
            {% include Sidebar.liquid %}
        </div>
    </div>
</div>
