---
layout: default
title: Partnership to Advance Throughput Computing
description: Partnership to Advance Throughput Computing
intro_image_CHTC: "images/CHTC-centered.svg"
intro_image_OSG: "images/logo/OSG-logo.svg"
intro_image_absolute: true
intro_image_hide_on_mobile: true
---

<div class="bg-primary text-white py-1">
    <div class="container-xxl d-flex justify-content-center">
        <div class='d-flex align-items-center'>
            <span><b class="shimmer">CICI Awardees</b>, bring your dataset to the OSDF</span>
            <a class="ms-3 btn btn-outline-light btn-sm" href="/cici-awardees">Learn more</a>
        </div>
    </div>
</div>
{% include layout/header.html logo=layout.logo header_class=page.header_class %}
<main>
    <div id="hero" class="">
        <div class="container-lg py-4">
            <div class="row justify-content-center mb-4 mb-md-4">
                <div class="col-12 col-md-12 col-lg-10 col-xxl-8">
                    <div class="p-2">
                        <h1 class="text-center fw-normal pb-4">Bring the power of throughput<br> computing to your science with <img height="32px" class="mb-2 mt-2 mt-sm-0" src="images/logo/PATh_Logo_Primary_Color_Just_PATh.png"></h1>
                        <div class="row gx-1 pb-2 mx-4">
                            <div class="col-12 col-sm-6">
                                <div class="p-2 d-flex flex-column">
                                    <h4 class="fw-normal pb-2 text-center"><b>Researchers</b> and <b>Educators</b></h3>
                                    <h5 class="mx-auto"><a class="btn  btn-outline-primary text-decoration-none" href="#path-for-researchers">Apply for Compute Capacity</a></h5>
                                    <h5 class="mx-auto"><a class="btn  btn-outline-primary text-decoration-none" href="#osdf">Use OSDF Storage Capacity</a></h5>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="p-2">
                                    <h4 class="fw-normal text-center pb-2"><b>Organizations</b></h3>
                                    <h5 class="text-center"><a href="#path-for-organizations" class="btn btn-outline-primary text-decoration-none">Build or Share HTC Capacity</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="nairr" class="">
        <div class=py-3>
            <div class="container-lg">
                <div class="row justify-content-center">
                    <div class="col-auto big-text d-none d-md-flex">
                        <div class="my-auto text-white">NAIRR</div>
                    </div>
                    <div class="col-auto text-white d-flex">
                        <div class="my-auto">
                            <h4><b>PATh: NAIRR Pilot Service Provider for AI Workloads</b></h4>
                            <a class="btn btn-outline-primary bg-light" href="/nairr">More on PATh Services for NAIRR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl my-5">
        <div id="path-for-researchers" class="row my-3">
            <div class="col-12 col-md-4 col-xxl-4 d-flex">
                <img class="d-none d-md-block img-fluid my-auto" src="{{ 'images/PATh_Researchers.svg' | relative_url}}"/>
            </div>
            <div class="col-12 col-md-8 col-xxl-8 d-flex">
                <div class="my-auto d-flex flex-column">
                    <h3 class="header-bar fw-light">
                        For Researchers
                    </h3>
                    <h4 id="path-facility" class="fw-normal">PATh Facility</h4>
                    <p class="fs-5">
                        The <a href="/facility/#using-path-facilities">PATh facility</a> provides
                        compute capacity made available for researchers by the NSF through request. The dedicated capacity
                        allows researchers to run HTC workloads on purpose built hardware from the convenience of a
                        dedicated Access Point.
                        <div class="row gx-1">
                            <div class="col-auto">
                                <a class="btn btn-outline-primary text-decoration-none" href="https://portal.path-cc.io/application">Contact Us to Get Started</a>
                            </div>
                        </div>
                    </p>
                    <h4 id="ospool" class="fw-normal">OSPool</h4>
                    <div class="fs-5">
                        <p>
                            Join <a href="https://osg-htc.org/projects">hundreds of US-affiliated researchers and educators</a> in harnessing the compute and storage capacity of the
                            <a href="https://osg-htc.org/about/open_science_pool/">OSPool</a>.
                        </p>
                        <p>
                            Sign up today for your <b>No proposal, No allocation, No cost</b> OSPool Account!
                        </p>
                        <p>
                            <a class="btn  btn-outline-primary text-decoration-none" href="https://portal.osg-htc.org/application">Request an OSPool Account</a>
                            <a class="btn  btn-outline-primary text-decoration-none" href="https://portal.osg-htc.org/documentation/support_and_training/training/ospool_for_education/">OSPool for Educators</a>
                        </p>
                    </div>
                    <h4 id="osdf" class="fw-normal">OSDF</h4>
                    <p class="fs-5">
                        US-affiliated researchers can use the <a href="https://osg-htc.org/osdf">OSDF</a> to make their datasets available for sharing or
                        processing on the OSPool.  The OSPool can be used to analyze the data via the OSDF.
                        Existing repositories can be connected to the OSDF or researchers can request storage
                        space funded through the NSF's CC* program.
                        <div>
                            <a class="btn btn-outline-primary text-decoration-none" href="https://osg-htc.org/services/osdf.html">Learn More</a>
                            <a class="btn btn-outline-primary text-decoration-none" href="https://docs.google.com/forms/d/e/1FAIpQLSdr3pLLRlEbhbf-h8cdZ5N9UJpshIDdgUeHJ07keRUK8ecKOw/viewform?usp=dialog">Get Started</a>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div id="path-for-organizations" class="row my-5">
            <div class="col-12 col-lg-8 col-xxl-8 d-flex">
                <div class="my-auto d-flex flex-column">
                    <h3 class="text-start text-lg-end header-bar">
                        For Organizations
                    </h3>
                    <p class="fs-5 text-start text-lg-end">
                        Build local HTC capacity with the <a href="https://htcondor.org">HTCondor Software Suite</a>.
                        Share computing capacity, data, and software between collaborators and even across continents.
                        <div class="d-flex">
                            <a class="ms-lg-auto btn  btn-outline-primary text-decoration-none" href="https://htcondor.org/about">View HTCSS's Impact</a>
                        </div>
                    </p>
                    <p class="fs-5 text-start text-lg-end">
                        Share campus computing and data resources into the
                        <a href="https://osg-htc.org/campus-cyberinfrastructure.html">US national cyberinfrastructure
                            </a> via OSG. Contact our support staff to collaborate on the right options for your desired outcomes.
                        <div class="d-flex">
                            <a class="ms-lg-auto btn  btn-outline-primary text-decoration-none" href="mailto:support@osg-htc.org">Contact Support Staff</a>
                        </div>
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xxl-4 d-none d-lg-block">
                <img class="d-none d-md-block img-fluid" src="{{ 'images/University_And_Organization.svg' | relative_url}}"/>
            </div>
        </div>
    </div>
    <div class="container-xxl">
        {% include text-hr.html text="Documentation & Training" %}
        <div class="row mb-4">
            <div class="col-lg-4">
                <a class="text-decoration-none d-block" href="https://portal.osg-htc.org/documentation">
                    <div class="mt-2 rounded p-2 pt-1 hover-shadow">
                        <h3><i class='bi bi-file-text'></i> OSPool Documentation</h3>
                        <div class="text-dark">
                            Guides and tutorials for using the OSPool's fair-share compute capacity.
                        </div>
                    </div>
                </a>
                <a class="text-decoration-none d-block" href="https://portal.path-cc.io/documentation">
                    <div class="mt-2 rounded p-2 pt-1 hover-shadow">
                        <h3><i class='bi bi-file-text'></i> Facility Documentation</h3>
                        <div class="text-dark">
                            Guides and tutorials for using PATh Facility's dedicated compute capacity.
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="text-decoration-none d-block" href="/services/facilitation.html">
                    <div class="mt-2 rounded p-2 pt-1 hover-shadow">
                        <h3><i class='bi bi-people'></i> Meet Facilitation Team</h3>
                        <div class="text-dark">
                            Facilitation Services speed dHTC adoption using CHTC’s research computing principles.
                        </div>
                    </div>
                </a>
                <a class="text-decoration-none d-block" href="https://agenda.hep.wisc.edu/event/2297/">
                    <div class="mt-2 rounded p-2 pt-1 hover-shadow">
                        <h3><i class='bi bi-calendar-range'></i> View HTC25 Material</h3>
                        <div class="text-dark">
                            Check out our most recent community conference, HTC25.
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    {% comment %}Other videos: KFg5ApsIGN8,awSLTflAIJ8,rCDrPBki7ps{% endcomment %}
                    {% assign videos = "D14eMrkZ2gQ,0JQ8or3lue0,azA7-4cPYEY,igU0RQFkR20" | split: "," %}
                    {% for video in videos %}
                        <div class="col-6 col-md-3 col-lg-6">
                            <a href="https://www.youtube.com/watch?v={{ video }}" class="text-decoration-none hover-shadow">
                                <img class="img-fluid rounded hover-shadow mb-2" style="object-fit: cover; aspect-ratio: 3/2;" src="https://img.youtube.com/vi/{{ video }}/sddefault.jpg" alt="Video thumbnail"/>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        <div>
        {% include text-hr.html text="News & Events" %}
        <div class="row">
            {% include get/articles.liquid %}
            <div class="col-12 col-md-6 col-lg-4">
                {% for article in articles limit: 1 %}
                    {% include highlighted-title-image-text-card.html
                        date=article.date
                        internal_href=article.url
                        image=article.image.path
                        alt=article.image.alt
                        title=article.title
                        desc=article.excerpt
                        class="rounded p-2 pt-1 hover-shadow"
                    %}
                {% endfor %}
            </div>
            {% include get/future_events.liquid %}
            <div class="col-12 col-md-6 col-lg-4 my-3 my-md-0">
                {% if future_events.size != 0  %}
                    <h2 class="text-primary pb-1">
                        Upcoming Events
                    </h2>
                    {% for event in future_events limit:2 %}
                        <div>
                            {% include event/event-card.html event=event %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="row pt-md-0 pt-3">
                        {% for article in articles limit: 2 offset: continue %}
                        <div class="col-12">
                            {% include light-title-date-desc-card.html
                            date=article.date
                            title=article.title
                            href=article.url
                            desc=article.excerpt
                            %}
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-none d-lg-block">
                {% for article in articles limit: 1 offset: continue %}
                    {% include highlighted-title-image-text-card.html
                            date=article.date
                            internal_href=article.url
                            image=article.image.path
                            alt=article.image.alt
                            title=article.title
                            desc=article.excerpt
                            class="rounded p-2 pt-1 hover-shadow"
                    %}
                {% endfor %}
            </div>
        </div>
        {% include text-hr.html text="OSG by Maps" %}
        <div class="row gx-2 gy-2 row-cols-3 row-cols-md-5 justify-content-center">
            {% for map in site.data.maps %}
                <div class="col">
                    {% if map.href %}
                        <a href="{{ map.href }}">
                    {% else %}
                        <a href="https://map.osg-htc.org{{ map.params }}">
                    {% endif %}
                        <div class="rounded bg-white hover-shadow border-dark border">
                            <h6 class="m-0 p-2">{{ map.title }}</h6>
                            <picture>
                                <source srcset="{{ map.image}}.webp">
                                <img class="img-fluid rounded-bottom" src="{{ map.image }}.png">
                            </picture>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% include text-hr.html text="Services" %}
        <div class="row mb-4">
            {% for service in site.services %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="service service-summary">
                    <div class="service-content">
                        <h2 class="service-title">
                            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
                        </h2>
                        <p>{{ service.excerpt | markdownify | strip_html}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% include text-hr.html text="Partners" %}
        <div class="row my-5 justify-content-center">
            <div class="col-12 col-sm-6 col-lg-4">
                {% include title-image-card.html
                    image="images/logo/CHTC_Sticker_Short.svg"
                    alt="Center for High Throughput Computing Logo"
                    href="https://chtc.cs.wisc.edu/"
                %}
            </div>
            <div class="col-12 col-sm-5 col-lg-3">
                {% include title-image-card.html
                    image="images/logo/OSG-logo-no-text.svg"
                    alt="Open Science Grid Logo"
                    href="https://osg-htc.org/"
                %}
            </div>
        </div>
        <div class="row my-5 justify-content-center align-items-center">
            <div class="col-8 col-sm-5 col-lg-3">
                {% include title-image-card.html
                    image="images/logo/PelicanPlatformLogo.png"
                    alt="Pelican Logo"
                    href="https://pelicanplatform.org/"
                %}
            </div>
            <div class="col-8 col-sm-6 col-lg-4" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="NRP is a significant provider of capacity to the OSPool.">
                {% include title-image-card.html
                    image="images/logo/NRP_Horizontal_Logo.webp"
                    alt="National Research Platform Logo"
                    href="https://nationalresearchplatform.org/"
                %}
            </div>
            <div class="col-8 col-sm-6 col-lg-4">
                {% include title-image-card.html
                    image="images/logo/National_Data_Platform_horiz_stacked.svg"
                    alt="National Data Platform Logo"
                    href="https://nationaldataplatform.org/"
                %}
            </div>
        </div>
    </div>

</main>
{% include layout/footer.html %}
{% include layout/sub-footer.html %}
<script type="text/javascript" src="{{ '/assets/js/scripts.js' | relative_url }}"></script>
{% include google-analytics.html %}
