---
layout: main
title: PATh Becomes NAIRR Service Provider for AI Workloads
---

<img src="/images/nairr.jpg" alt="Description of image" style="width: 100%; height: auto; display: block; max-height: 200px; object-fit: cover">

<div class="container-lg pb-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-9 col-xxl-8">
            {% include layout/subpage-header.html %}
            <div>
                <div class="rounded p-3 mb-4 border fst-italic">

                    <p>
                        As of February 20th, the <a href="https://path-cc.io/">Partnership to Advance Throughput Computing (PATh)</a> project is now a listed resource provider for the <a href="https://NAIRRpilot.org/">National Artificial Intelligence Research Resource (NAIRR)</a> pilot project. The PATh project provides allocatable services to support the entire life cycle of AI workloads–training data generation, training data cleaning, model training, and inference (prediction) using AI models.
                    </p>

                    <p>
                        To access PATh provided NAIRR resourced contact us at <a href="mailto:nairr@path-cc.io">nairr@path-cc.io</a> and provide your name, institution, a very brief description of your research and anticipated AI workload needs.
                    </p>

                    <div class="d-flex">
                        <a class="btn btn-primary mx-auto" href="mailto:nairr@path-cc.io">Request Access</a>
                    </div>
                </div>

                <h2>Who can access NAIRR Resources via PATh?</h2>
                <ul>
                    <li>US-based researchers, students, and educators</li>
                    <li>US-based institutions including academic institutions, non-profits, federal agencies or federally funded R&D centers, state, local, or tribal agencies, startups and small businesses with federal grants</li>
                    <li>Read more on <a href="https://nairrpilot.org/opportunities/allocations#:~:text=For%20NAIRR%20Classroom%20projects%2C%20educators,equipped%20with%20TPUs%20and%20GPUs.">NAIRR Pilot Website</a></li>
                </ul>

                <h2>The Role of PATh</h2>
                <p>
                    As of February 20th, 2025, <a href="https://path-cc.io/">PATh</a> is now a listed resource provider for the <a href="https://nairrpilot.org/">(NAIRR) pilot project</a>. Meaning, that PATh is now a partner that furthers NAIRR's purposes of spurring innovation, developing workforce talent, improving capacity, and advancing safe, secure, and trustworthy AI in research and society. PATh addresses researcher needs by providing computational resources needed to access, run, and test AI-related infrastructure.
                </p>

                <h2>PATh Resources and Services</h2>
                <p>
                    PATh services are designed to address throughput-oriented workloads that consist of ensembles of jobs (such as hyperparameter optimization workloads). The ensembles are managed by a network of Access Points (<a href="https://osg-htc.org/services/access-point">https://osg-htc.org/services/access-point</a>) and can connect to capacity at:
                </p>
                <ul>
                    <li>The purpose-built <a href="https://path-cc.io/facility/index.html">PATh facility</a></li>
                    <li>The <a href="https://osg-htc.org/ospool">OSPool</a></li>
                    <li>or another ACCESS/NAIRR allocation owned by the PI</li>
                </ul>
                <p>
                    All PATh services are fully integrated with the <a href="https://osg-htc.org/osdf">OSDF</a> – a national-scale object delivery system.
                </p>
                <p>
                    In the past 12 months, PATh Access Points completed more than <strong>200M jobs</strong> that consumed more than <strong>449K GPU hours</strong> and <strong>250M core hours</strong>. OSDF delivered more than <strong>112M objects</strong> for a total of <strong>53 PB</strong>.
                </p>
                <p>
                    For questions about accessing NAIRR resources via PATh services, organizing AI workloads, or other questions, please <a href="mailto:nairr@path-cc.io">reach out</a>. We have dedicated facilitators and staff supporting researchers using AI.
                </p>

                <h2>PATh Facility for AI Workloads</h2>
                <p>
                    The PATh Facility includes dedicated access to:
                </p>
                <ul>
                    <li>10 machines with 4 40GB A100 GPUs 1.6TB of NVMe, and 512 GB RAM</li>
                    <li>68 machines with 64 AMD EPYC cores (AMD 7513), 1.6TB of NVMe, and 256 GB RAM each.</li>
                    <li>Individual jobs can use up to all the GPUs available on a single machine.</li>
                </ul>

                <h2>OSPool for AI Workloads</h2>
                <p>
                    The <a href="https://osg-htc.org/services/open_science_pool.html">OSPool</a> consists of contributed resources from over 70 institutions across the United States.
                </p>

                <h2>Recommended Use of PATh Services</h2>
                <p>
                    In relation to NAIRR, PATh services are ideal for workloads organized into ensembles of many tasks, including training data generation, data pre-processing for training, hyperparameter tuning, and inference. These services make the greatest impact when users need to leverage workload automation or have a workload that can be expressed as a large number of individual jobs.
                </p>

                <h2>What is NAIRR?</h2>
                <p>
                    AI innovation is an emerging discipline with the capability to accelerate global innovation and aid existing research projects that tackle societal and global challenges. Despite these potentials, many public researchers lack access to these critical resources and training—inhibiting further advancement needed to conduct their research activities and to train the next generation of researchers.
                </p>
                <p>
                    The <a href="https://nairrpilot.org/">National Artificial Intelligence Research (NAIRR) pilot project</a> is a concept that aims to connect U.S researchers and educators with trustworthy AI resources and the computational, data, software, training, and educational resources to advance research, discovery, and innovation needed to advance AI research and research that employs AI—promoting shared national research infrastructure.
                </p>
                <p>
                    NAIRR is a <a href="https://www.nsf.gov/focus-areas/artificial-intelligence/nairr">National Science Foundation (NSF)</a> vision that currently supports over 250+ projects and is a <a href="https://nairrpilot.org/about">growing pilot</a> that, in its first phase, is providing researchers and educators with the ability to access advanced computing for AI researchers and access to a growing list of AI-specific resources.
                </p>

                <h2>What is PATh?</h2>
                <p>
                    <a href="https://path-cc.io/">PATh</a> is funded by the NSF to advance High Throughput Computing (HTC) and its impact on research. PATh brings together two entities with a strong history of supporting dHTC-enabled research: CHTC and the OSG Consortium to address the needs of the rapidly growing community of faculty and students who are embracing these technologies and services to advance their research.
                </p>
                <p>
                    <a href="https://path-cc.io/about/">Learn more about PATh resources.</a>
                </p>

            </div>
        </div>
        <div class="col-3 col-xxl-2 d-none d-md-block">
            {% include Sidebar.liquid %}
        </div>
    </div>
</div>