{% assign input = include.input | default: input %}
<ul>
{% for item in input %}
    {% assign d = item.name | slugify | prepend: "#" %}
    <li><a href="{{ item.href | default: d }}">{{ item.name }}</a></li>
    {% if item.children %}
        {% include list_of_lists_to_ul.liquid input=item.children %}
    {% endif %}
{% endfor %}
</ul>